h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol{
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

img{
  display: block;
}

button{
  border: none;
  outline: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-text-color);
}

.link {
    text-decoration: none;
}

.list{
    list-style: none;
}