.reviews-section {
  padding: 50px 0;

  .container {
    .reviews-heading {
      color: var(--primary-text-color);
      font-weight: 800;
      font-size: 20px;
      line-height: 1.3;
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 24px;

      @media screen and (min-width: 768px) {
        font-size: 26px;
        margin-bottom: 30px;
      }

      @media screen and (min-width: 1366px) {
        font-size: 46px;
        margin-bottom: 50px;
      }
    }

    .reviews-slide {
      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
      }

      @media screen and (min-width: 1366px) {
        justify-content: center;
      }

      .reviews-slide-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media screen and (min-width: 768px) {
          margin-right: 46px;
          margin-bottom: 40px;
        }

        @media screen and (min-width: 1366px) {
          margin-right: 40px;
          margin-bottom: 90px;
        }

        .reviews-picture {
          width: 90px;
          height: 90px;

          @media screen and (min-width: 768px) {
            width: 150px;
            height: 150px;
          }
        }

        .reviews-link-icon-box {
          margin: 30px 0;

          @media screen and (min-width: 768px) {
            margin: 27px;
          }

          .reviews-link-icon {
            .reviews-icon {
              width: 30px;
              height: 30px;
            }
          }
        }
      }

      .reviews-slide-text {
        text-align: center;

        @media screen and (min-width: 768px) {
          text-align: start;
          width: 412px;
          margin: 40px 0;
        }

        @media screen and (min-width: 1366px) {
          width: 706px;
          margin: 50px 0;
        }

        .reviews-heading--name {
          color: var(--accennt-color);
          font-weight: 800;
          font-size: 14px;
          line-height: 1.2;
          letter-spacing: 0.08em;
          margin-bottom: 16px;

          @media screen and (min-width: 768px) {
            font-size: 20px;
          }

          @media screen and (min-width: 1366px) {
            font-size: 30px;
          }
        }

        .reviews-slide-text--grey {
          color: var(--second-primary-text-color);
          font-size: 12px;
          line-height: 1.3;
          letter-spacing: 0.08em;
          margin-bottom: 16px;

          @media screen and (min-width: 768px) {
            margin: 20px 0;
          }

          @media screen and (min-width: 1366px) {
            font-size: 14px;
            line-height: 1.2;
            margin-top: 10px;
          }
        }

        .reviews-slide-text--black {
          font-size: 12px;
          line-height: 1.7;
          color: #3d3d3d;
          margin-bottom: 62px;

          @media screen and (min-width: 1366px) {
            font-size: 18px;
            line-height: 1.6;
          }

          .reviews-link-read-more {
            font-size: 12px;
            line-height: 1.7;
            text-decoration-line: underline;
            color: var(--accennt-color);

            @media screen and (min-width: 1366px) {
              font-size: 18px;
              line-height: 1.6;
            }
          }
        }
      }

      .reviews-slide--photos {
        display: flex;
        justify-content: center;

        @media screen and (min-width: 768px) {
          padding-left: 20px;
        }

        .reviews-slide--photos-items {
          &:not(:last-child) {
            margin-right: 10px;

            @media screen and (min-width: 768px) {
              margin-right: 30px;
            }
          }
        }

        .reviews-slide--photos-items-dsn {
          display: none;

          @media screen and (min-width: 768px) {
            display: block;
          }
        }
      }
    }
  }
}

