// Style for base
@import './base/common';
@import './base/container';

//Style for components
@import './components/section-title.scss';
@import './components/footer';

//Style for layout

@import './layout/guarantee';
@import './layout/problems';
@import './layout/header';
@import './layout/hero';
@import './layout/how-we-do';
@import './layout/teacher';
@import './layout/advantages';
@import './components/mobile-menu';

@import './layout/program';

//Style for utils
@import './utils/variables';
@import './reviews';
@import './components/form';
