<div class="container">
    <h2 hidden>сильные стороны</h2>
    <ul class="advantages">
        <li class="advantages__item-adapt">
            <p class="advantages__txt">Adapted author's
                UPE program</p>
        </li>
        <li class="advantages__item-method">
            <p class="advantages__txt">Modern
                teaching methods</p>
        </li>
        <li class="advantages__item-garante">
            <p class="advantages__txt">Financial guarantee
                the result</p>
        </li>
    </ul>
</div>