<section class="container form">
<h2 class="form__title">Registration for a <span class="accent">free</span> phone <span>consultation</span> on the nuances of English UPE</h2>
<b class="porpose">Leave a request for participation in a <span class="accent">free lesson.</span>
A consultant will contact you and answer your questions</b>
<form action="#">
<label  for="" class="form__label"><input class="form__input-name" placeholder="Name*" type="text" required ></label>
<label class="form__label" for=""><input class="form__input-tel" placeholder="Phone*" type="number" required ></label>
<button class="form__btn">I want a free lesson</button></form>
</section>