<section class="container form">
<h2 class="form__title">Registration for a <span class="accent">free</span> phone <span>consultation</span> on the nuances of English UPE</h2>
<b class="porpose">Leave a request for participation in a <span class="accent">free lesson.</span>
A consultant will contact you and answer your questions</b>
<form action="#">
<label for=""><input class="form__input-name" placeholder="Имя*" type="text"></label>
<label for=""><input class="form__input-tel" placeholder="Телефон*" type="text"></label>
<button class="form__btn">хочу на бесплатное занятие</button></form>
</section>