<!--Секция Гарантии -->
<section>
<h2 class="section-title">We guarantee</h2>
<div class="section-guarantee">

<ul class="guarantee-list">
<li class="guarantee-item"><p class="guarantee-text guarantee-icon">You will pass the UPE with at least 25 points better than on the first practice test.
 Otherwise, we will refund your money.*</p>
 <svg class="" width="15" height="20">
 <use href=""></use>
 </svg>
 </li>
<li class="guarantee-item"><p class="guarantee-text guarantee-icon">
You will learn to write essays with at least 10 points out of 14.
<span class="orange-text">While 20% of the students received 0 for essays.</span></p>
<svg class="" width="15" height="20">
    <use href=""></use>
</svg>
</li>
<li class="guarantee-item"><p class="guarantee-text guarantee-icon">You will study in your area.
 We will choose the location for the classes after the teams have been formed.</p>
<svg class="guarantee-icon" width="15" height="20">
    <use href=""></use>
</svg>
</li>
<li class="guarantee-item"><p class="guarantee-text guarantee-icon">Teams will be formed based on the starting level of the students.
 We take into account the characteristics of each student.</p>
<svg class="guarantee-icon" width="15" height="20">
    <use href=""></use>
</svg>
</li>
</ul>
</div>
</section>
