<!-- header section -->
<header class="container header">
    <nav class="navigation">
        <a class="logo__link" href="">
          <div class="logo__container"><span class="logo logo__front">Hell </span>  <span class="logo"> EN</span></div>
        <div class="logo__text"> <span class="logo__text-dedicated">hellish</span> <span> english</span></div></a>
        <div class="header-menu">
        <ul class="nav-list">
            <li><a class="nav-list__item" href="#Studying program">Studying program</a></li>
            <li><a class="nav-list__item" href="#about">about</a></li>
            <li><a class="nav-list__item" href="#training options">training options</a></li>
            <li><a class="nav-list__item" href="#contacts">contacts</a></li>
            
        </ul>
        <button class="nav-list__btn">consultation by phone</button>
    
    </div>
    <button class="menu__burger-btn" type="button" data-menu-button > </button>
    </nav>
 <div class="mobile-menu is-open" data-menu>
     
     <div class="container mobile-menu__container">
         <button class="mobile-menu__close-button" data-menu-close> <svg class="mobile-menu__close-icon">
             <use href="/./images/icons/symbol-defs.svg#menu-close"></use>
         </svg></button>
        <nav>
            <a class="logo__link" href="">
                <div> <span class="mobile-menu__logo logo__front">Hell  </span><span class="mobile-menu__logo">EN</span></div>
                <div class="logo__text"> <span class="logo__text-dedicated">hellish</span> <span class="logo__txt-item"> english</span></div>
            </a>
           
            <ul class="mobile-menu__nav-list">
                <li><a class="mobile-menu__nav" href="#Studying program">Studying program</a></li>
                <li><a class="mobile-menu__nav " href="#about">About</a></li>
                <li><a class="mobile-menu__nav" href="#training options">Training options</a></li>
                <li><a class="mobile-menu__nav" href="#contacts">Contacts</a></li>
                
            </ul>
            <button class="mobile-menu__btn">consultation by phone</button>
        </nav>
    </div>
        </div>
</header>