<section class="how-we-do container">
  <h3 id="about" class="how-we-do-title">How do we do it</h3>
  <!-- C A R D S -->
  <ul class="how-we-do-list list">
    <li class="how-do-item">
      <svg class="how-do-icon" width="46" height="48">
        <use href="./images/icons/sprite-how-we-do.svg#icon-one-study-program"></use>
      </svg>
      <p class="how-do-card-title">Adapted program preparation for UPE</p>
      <p class="how-do-card-description">
        You will learn grammar and vocabulary at the same time. And you will learn how to write
        essays.
      </p>
    </li>
    <li class="how-do-item">
      <svg class="how-do-icon" width="46" height="48">
        <use href="./images/icons/sprite-how-we-do.svg#icon-two-mobile-learning"></use>
      </svg>
      <p class="how-do-card-title">Classroom and online learning</p>
      <p class="how-do-card-description">
        The teacher will help not only in the classroom, but also during home preparation. Parents
        can chat if they wish.
      </p>
    </li>
    <li class="how-do-item">
      <svg class="how-do-icon" width="46" height="48">
        <use href="./images/icons/sprite-how-we-do.svg#icon-three-open-book"></use>
      </svg>
      <p class="how-do-card-title">The habit of reading in English</p>
      <p class="how-do-card-description">
        Articles from sources that are used in the development of this UPE will be received by phone
        twice a week.
      </p>
    </li>
    <li class="how-do-item">
      <svg class="how-do-icon" width="46" height="48">
        <use href="./images/icons/sprite-how-we-do.svg#icon-four-group"></use>
      </svg>
      <p class="how-do-card-title">
        Psychological <br />
        support
      </p>
      <p class="how-do-card-description">
        We will teach you testing techniques, the ability to plan your confidence training in
        itself.
      </p>
    </li>
    <li class="how-do-item">
      <svg class="how-do-icon" width="46" height="48">
        <use href="./images/icons/sprite-how-we-do.svg#icon-five-female-student"></use>
      </svg>
      <p class="how-do-card-title">Training on copyright manuals</p>
      <p class="how-do-card-description">
        You don't have to waste your time on a search for material and to buy anything extra.
        <br />
        We have compiled 2 manuals for you.
      </p>
    </li>
    <li class="how-do-item">
      <svg class="how-do-icon" width="46" height="48">
        <use href="./images/icons/sprite-how-we-do.svg#icon-six-audio-book"></use>
      </svg>
      <p class="how-do-card-title">Ability to comprehend spoken English</p>
      <p class="how-do-card-description">
        “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in
        accordance with the studied vocabulary.
      </p>
    </li>
  </ul>
</section>
