<section class="problems container">
    <h2 id="training options" class="section-title section-title__dark-theme problems-title">The main problems of students in English UPE, which we <span class="problems-title-word">help</span> to solve</h2>
    <ul class="problems__list list">
        <li class="problems__list-item">
            <p class="problems__list-descrition">Grammar</p>
        </li>
        <li class="problems__list-item">
            <p class="problems__list-descrition">Inability to understand spoken English</p>
        </li>
        <li class="problems__list-item">
            <p class="problems__list-descrition">Stingy vocabulary for writing an essay</p>
        </li>
        <li class="problems__list-item">
            <p class="problems__list-descrition">Preparing alone</p>
        </li>
        <li class="problems__list-item">
            <p class="problems__list-descrition">Lack of a single knowledge resource</p>
        </li>
        <li class="problems__list-item">
            <p class="problems__list-descrition">Lack of self-organization and laziness</p>
        </li>
    </ul>
</section>