<section class="container program">
    <h2 id="Studying program" class="section-title section-title__dark-theme program-title">Our program</h2>
    <ul class="program__list list">
        <li class="program__list-semester">1 semester
            <ul class="program__list-semester-list list">
                <li class="program__list-semester-list-subject"> Grammar
                    <ul class="program__list-semester-list-subject-list list">
                        <li class="program__list-semester-list-subject-list-theme">Nouns & Articles</li>
                        <li class="program__list-semester-list-subject-list-theme">Adjectives & Adverb </li>
                    </ul>
                </li>
                <li class="program__list-semester-list-subject">Vocabulary
                    <ul class="program__list-semester-list-subject-list list"> 
                        <li class="program__list-semester-list-subject-list-theme">Family & Relations</li>
                        <li class="program__list-semester-list-subject-list-theme">People & Society </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="program__list-semester">2 semester
            <ul class="program__list-semester-list list">
                <li class="program__list-semester-list-subject"> Grammar
                    <ul class="program__list-semester-list-subject-list list">
                        <li class="program__list-semester-list-subject-list-theme">Pronouns</li>
                        <li class="program__list-semester-list-subject-list-theme">Active Voice</li>
                        <li class="program__list-semester-list-subject-list-theme">Passive Voice </li>
                    </ul>
                </li>
                <li class="program__list-semester-list-subject"> Vocabulary
                    <ul class="program__list-semester-list-subject-list list">
                        <li class="program__list-semester-list-subject-list-theme">Home</li>
                        <li class="program__list-semester-list-subject-list-theme">School</li>
                        <li class="program__list-semester-list-subject-list-theme">Work</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="program__list-semester">3 semester
            <ul class="program__list-semester-list list">
                <li class="program__list-semester-list-subject"> Grammar
                    <ul class="program__list-semester-list-subject-list list">
                        <li class="program__list-semester-list-subject-list-theme">Modal verbs</li>
                        <li class="program__list-semester-list-subject-list-theme">Infinitive</li>
                        <li class="program__list-semester-list-subject-list-theme">Gerund</li>
                        <li class="program__list-semester-list-subject-list-theme">Participle: 1, 2 </li>
                    </ul>
                </li>
                <li class="program__list-semester-list-subject"> Vocabulary
                    <ul class="program__list-semester-list-subject-list list">
                        <li class="program__list-semester-list-subject-list-theme">Travel & Tourism</li>
                        <li class="program__list-semester-list-subject-list-theme">Culture & Free Time</li>
                        <li class="program__list-semester-list-subject-list-theme">Sport</li>
                    </ul>
                </li>
                <li class="program__list-semester-list-subject"> Writing
                    <ul class="program__list-semester-list-subject-list list">
                        <li class="program__list-semester-list-subject-list-theme">Informal Letter </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="program__list-semester">4 semester
            <ul class="program__list-semester-list list">
                <li class="program__list-semester-list-subject"> Grammar
                    <ul class="program__list-semester-list-subject-list list">
                        <li class="program__list-semester-list-subject-list-theme">Clauses: Conditional and Wishes</li>
                        <li class="program__list-semester-list-subject-list-theme">Direct / Reported speech</li>
                        <li class="program__list-semester-list-subject-list-theme">Preposition</li>
                        <li class="program__list-semester-list-subject-list-theme">Conjunction</li>
                        <li class="program__list-semester-list-subject-list-theme">Numeral</li>
                    </ul>
                </li>
                <li class="program__list-semester-list-subject"> Vocabulary
                    <ul class="program__list-semester-list-subject-list list">
                        <li class="program__list-semester-list-subject-list-theme">Healthy Living</li>
                        <li class="program__list-semester-list-subject-list-theme">Nature & Environment</li>
                        <li class="program__list-semester-list-subject-list-theme">Money</li>
                    </ul>
                </li>
                <li class="program__list-semester-list-subject"> Writing
                    <ul class="program__list-semester-list-subject-list list">
                        <li class="program__list-semester-list-subject-list-theme">Formal Letter</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="program__list-semester">5 semester
            <ul class="program__list-semester-list list">
                <li class="program__list-semester-list-subject">
                    <ul class="program__list-semester-list-subject-list list">
                        <li class="program__list-semester-list-subject-list-theme">Revision</li>
                        <li class="program__list-semester-list-subject-list-theme">Tests</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <h2 class="section-title section-title__dark-theme program__subtitle">Why do people choose us</h2>
    <ul class="whychoose-list list">
        <li class="whychoose-item">Training in small groups</li>
        <li class="whychoose-item">Rendered notes</li>
        <li class="whychoose-item">Each lesson has a goal and a specific result</li>
        <li class="whychoose-item">The real results of the teacher</li>
        <li class="whychoose-item">The course program meets the requirements of the MES of Ukraine</li>
        <li class="whychoose-item">Set of groups by level of knowledge</li>
    </ul>
</section>