<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-heading">Feedback from graduates</h2>

    <div class="reviews-slide">
      <div class="reviews-slide-photo">
        <picture class="reviews-picture">
          <source
            srcset="
              ./images/reviews-img/desk-tonya-x1.jpg 1x,
              ./images/reviews-img/desk-tonya-x2.jpg 2x
            "
            media="(min-width: 1366px)"
          />

          <source
            srcset="
              ./images/reviews-img/tab-tonya-x1.jpg 1x,
              ./images/reviews-img/tab-tonya-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/reviews-img/mob-tonya-x1.jpg 1x,
              ./images/reviews-img/mob-tonya-x2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="reviews-img" src="./images/reviews-img/mob-tonya-x1.jpg" alt="тоня" />
        </picture>
        <div class="reviews-link-icon-box">
          <a class="link reviews-link-icon" href="#">
            <svg class="reviews-icon">
              <use href="./images/icons/reviews-icons.svg#icon-vk-icon"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="reviews-slide-text">
        <h3 class="reviews-heading--name">Tonya Kucherovskaya</h3>
        <p class="reviews-slide-text--grey">
          Graduated from 2015, National University of Bioresources and natural history of Ukraine
        </p>
        <article>
          <p class="reviews-slide-text--black">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student...<a class="reviews-link-read-more" href="#">Read more</a>
          </p>
        </article>
      </div>
      <ul class="reviews-slide--photos list">
        <li class="reviews-slide--photos-items">
          <a href="#">
            <picture class="reviews-slide--photos-items-picture">
              <source
                srcset="
                  ./images/reviews-img/desk-girl-1-x1.jpg 1x,
                  ./images/reviews-img/desk-girl-1-x2.jpg 2x
                "
                media="(min-width: 1366px)"
              />

              <source
                srcset="
                  ./images/reviews-img/tab-girl-1-x1.jpg 1x,
                  ./images/reviews-img/tab-girl-1-x2.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/reviews-img/mob-girl-1-x1.jpg 1x,
                  ./images/reviews-img/mob-girl-1-x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="reviews-slide--photos-items-img"
                src="./images/reviews-img/mob-girl-1-x1.jpg"
                alt="girl-1"
              />
            </picture>
          </a>
        </li>
        <li class="reviews-slide--photos-items">
          <a href="#">
            <picture class="reviews-slide--photos-items-picture">
              <source
                srcset="
                  ./images/reviews-img/desk-girl-2-x1.jpg 1x,
                  ./images/reviews-img/desk-girl-2-x2.jpg 2x
                "
                media="(min-width: 1366px)"
              />

              <source
                srcset="
                  ./images/reviews-img/tab-girl-2-x1.jpg 1x,
                  ./images/reviews-img/tab-girl-2-x2.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/reviews-img/mob-girl-2-x1.jpg 1x,
                  ./images/reviews-img/mob-girl-2-x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="reviews-slide--photos-items-img"
                src="./images/reviews-img/mob-girl-2-x1.jpg"
                alt="girl-2"
              />
            </picture>
          </a>
        </li>
        <li class="reviews-slide--photos-items">
          <a href="#">
            <picture class="reviews-slide--photos-items-picture">
              <source
                srcset="
                  ./images/reviews-img/desk-girl-3-x1.jpg 1x,
                  ./images/reviews-img/desk-girl-3-x2.jpg 2x
                "
                media="(min-width: 1366px)"
              />

              <source
                srcset="
                  ./images/reviews-img/tab-girl-3-x1.jpg 1x,
                  ./images/reviews-img/tab-girl-3-x2.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/reviews-img/mob-girl-3-x1.jpg 1x,
                  ./images/reviews-img/mob-girl-3-x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="reviews-slide--photos-items-img"
                src="./images/reviews-img/mob-girl-3-x1.jpg"
                alt="girl-3"
              />
            </picture>
          </a>
        </li>
        <li class="reviews-slide--photos-items reviews-slide--photos-items-dsn">
          <a href="#">
            <picture class="reviews-slide--photos-items-picture">
              <source
                srcset="
                  ./images/reviews-img/desk-girl-4-x1.jpg 1x,
                  ./images/reviews-img/desk-girl-4-x2.jpg 2x
                "
                media="(min-width: 1366px)"
              />

              <source
                srcset="
                  ./images/reviews-img/tab-girl-4-x1.jpg 1x,
                  ./images/reviews-img/tab-girl-4-x2.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/reviews-img/mob-girl-4-x1.jpg 1x,
                  ./images/reviews-img/mob-girl-4-x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="reviews-slide--photos-items-img"
                src="./images/reviews-img/mob-girl-3-x1.jpg"
                alt="girl-3"
              />
            </picture>
          </a>
        </li>
        <li class="reviews-slide--photos-items reviews-slide--photos-items-dsn">
          <a href="#">
            <picture class="reviews-slide--photos-items-picture">
              <source
                srcset="
                  ./images/reviews-img/desk-girl-5-x1.jpg 1x,
                  ./images/reviews-img/desk-girl-5-x2.jpg 2x
                "
                media="(min-width: 1366px)"
              />

              <source
                srcset="
                  ./images/reviews-img/tab-girl-5-x1.jpg 1x,
                  ./images/reviews-img/tab-girl-5-x2.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/reviews-img/mob-girl-5-x1.jpg 1x,
                  ./images/reviews-img/mob-girl-5-x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="reviews-slide--photos-items-img"
                src="./images/reviews-img/mob-girl-5-x1.jpg"
                alt="girl-5"
              />
            </picture>
          </a>
        </li>
        <li class="reviews-slide--photos-items reviews-slide--photos-items-dsn">
          <a href="#">
            <picture class="reviews-slide--photos-items-picture">
              <source
                srcset="
                  ./images/reviews-img/desk-tonya-6-x1.jpg 1x,
                  ./images/reviews-img/desk-tonya-6-x2.jpg 2x
                "
                media="(min-width: 1366px)"
              />

              <source
                srcset="
                  ./images/reviews-img/tab-tonya-6-x1.jpg 1x,
                  ./images/reviews-img/tab-tonya-6-x2.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/reviews-img/mob-tonya-6-x1.jpg 1x,
                  ./images/reviews-img/mob-tonya-6-x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="reviews-slide--photos-items-img"
                src="./images/reviews-img/mob-girl-3-x1.jpg"
                alt="girl-3"
              />
            </picture>
          </a>
        </li>
        <li class="reviews-slide--photos-items reviews-slide--photos-items-dsn">
          <a href="#">
            <picture class="reviews-slide--photos-items-picture">
              <source
                srcset="
                  ./images/reviews-img/desk-girl-7-x1.jpg 1x,
                  ./images/reviews-img/desk-girl-7-x2.jpg 2x
                "
                media="(min-width: 1366px)"
              />

              <source
                srcset="
                  ./images/reviews-img/tab-girl-7-x1.jpg 1x,
                  ./images/reviews-img/tab-girl-7-x2.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/reviews-img/mob-girl-7-x1.jpg 1x,
                  ./images/reviews-img/mob-girl-7-x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="reviews-slide--photos-items-img"
                src="./images/reviews-img/mob-girl-7-x1.jpg"
                alt="girl-7"
              />
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
