<section class="teacher container">
  <h2 class="teacher-title">Teacher</h2>
  <div class="teacher-imgtext">
    <img class="teacher-img" src="" alt="teacher.img" />
    <div class="teacher-description">
      <h3 class="teacher-name">Elena Moreva</h3>
      <ul class="teacher-exp-list list">
        <li class="teacher-exp-item">
          <!-- <svg class="teacher-icon"><use></use></svg -->
          6 yeards of experience in preparing students for UPE
        </li>
        <li class="teacher-exp-item">
          <!-- <svg class="teacher-icon"><use></use></svg> -->
          Own result of passing VNO - 197 points 2 years in a row
        </li>
        <li class="teacher-exp-item">
          <!-- <svg class="teacher-icon"><use></use></svg> -->
          Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English
          Test)
        </li>
      </ul>
      <ul class="teacher-edu-list list">
        <li class="teacher-edu-item current">
          <p lass="teacher-edu-p">
            Graduated from the Institute of International Relations of the NAU with a degree in
            translator-analyst.
          </p>
        </li>
        <li class="teacher-edu-item">
          <p class="teacher-edu-p">
            In spare time takes courses from the best universities in the world on effective
            teaching and essay writing techniques.
          </p>
        </li>
        <li class="teacher-edu-item">
          <p class="teacher-edu-p">
            Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
            University of Queesland), How to Write an Essay (Berkeley), Academic and Business
            Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching
            and Learning (University of Houston).
          </p>
        </li>
      </ul>
      <a class="teacher-cert-link link" href="#">Cambrige English Entry Level Certificate</a>
    </div>
  </div>
</section>
