<section class="teacher container">
  <h2 class="teacher-title">Teacher</h2>
  <div class="teacher-imgtext">
    <div class="teacher-image-thumb">
      <picture>
        <source
          srcset="./images/teacher/1x-desk-img-1.webp 1x, ./images/teacher/2x-desk-img-2.webp 2x"
          media="(min-width: 1366px)" type="image/webp">
        <source
          srcset="./images/teacher/1x-desk-img-1.jpg 1x, ./images/teacher/2x-desk-img-2.jpg 2x"
          media="(min-width: 1366px)">
        <source
          srcset="./images/teacher/1x-tab-img-1.webp 1x, ./images/teacher/2x-tab-img-2.webp 2x"
          media="(min-width: 768px)" type="image/webp">
        <source
          srcset="./images/teacher/1x-tab-img-1.jpg 1x, ./images/teacher/2x-tab-img-2.jpg 2x"
          media="(min-width: 768px)">
        <source
          srcset="./images/teacher/1x-mob-img-1.webp 1x, ./images/teacher/2x-mob-img-2.webp 2x"
          media="(min-width: 280px)" type="image/webp">
        <source
          srcset="./images/teacher/1x-mob-img-1.jpg 1x, ./images/teacher/2x-mob-img-2.jpg 2x"
          media="(min-width: 280px)">
        <img class="teacher-img" src="#" alt="teacher.img" />
      </picture>
    </div>
    <div class="teacher-description">
      <h3 class="teacher-name">Elena Moreva</h3>
      <ul class="teacher-exp-list list">
        <li class="teacher-exp-item">
          <svg class="teacher-icon">
            <use href="./images/icons/vector.svg#vector"></use>
          </svg>
          <p class="teacher-exp-item__info">6 yeards of experience in preparing students for UPE</p>
        </li>
        <li class="teacher-exp-item">
          <svg class="teacher-icon">
            <use href="./images/icons/vector.svg#vector"></use>
          </svg>
          <p class="teacher-exp-item__info">Own result of passing VNO - 197 points 2 years in a row</p>
        </li>
        <li class="teacher-exp-item">
          <svg class="teacher-icon">
            <use href="./images/icons/vector.svg#vector"></use>
          </svg>
          <p class="teacher-exp-item__info">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English
          Test)</p>
        </li>
      </ul>
      <ul class="teacher-edu-list list">
        <li class="teacher-edu-item">
          <p class="teacher-edu-p">
            Graduated from the Institute of International Relations of the NAU with a degree in
            translator-analyst.
          </p>
        </li>
        <li class="teacher-edu-item">
          <p class="teacher-edu-p">
            In spare time takes courses from the best universities in the world on effective
            teaching and essay writing techniques.
          </p>
        </li>
        <li class="teacher-edu-item">
          <p class="teacher-edu-p">
            Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
            University of Queesland), How to Write an Essay (Berkeley), Academic and Business
            Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching
            and Learning (University of Houston).
          </p>
        </li>
      </ul>
      <a class="teacher-cert-link link" href="#">Cambrige English Entry Level Certificate</a>
    </div>
  </div>
</section>
