.footer {
  width: 320px;
  height: 70px;
  background-color: var(--primary-text-color);
  margin: 0 auto;
}

.footer-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: #b9b9b9;
  padding-left: 52px;
  padding-top: 21px;
}
