@media screen and (min-width: 280px) {
  .form {
    padding-top: 55px;
    padding-bottom: 55px;
    width: auto;
  }
  .form__title {
    margin-bottom: 24px;
  }
  .porpose {
    margin-bottom: 43px;
  }
  .form__input-name {
    margin-bottom: 20px;
  }
  .form__input-tel {
    margin-bottom: 50px;
  }
}
