.guarantee-title {
  text-align: center;
}
.section-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;

  letter-spacing: 0.03em;
  color: var (--pimary-text-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1366px) {
    font-size: 46px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 50px;
  }
}

.section-guarantee {
  display: block;
  width: 340px;
  height: 430px;
  background-color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 31px;
  @media screen and (min-width: 768px) {
    display: block;
    width: 685px;
    background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
    padding-left: 78px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 31px;
  }
  @media screen and (min-width: 1366px) {
    display: block;
    width: 1343px;
    height: 395px;
    background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
    padding-left: 113px;
    padding-bottom: 45px;
  }
}

.guarantee-list {
  list-style: none;
}

.guarantee-item {
  padding-left: 28px;
  &:not(:last-child) {
    padding-bottom: 23px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}

.point-icon {
  margin-left: -37px;
}

.guarantee-icon {
  border-left: 1px dashed #b9b9b9;
  @media screen and (min-width: 320px) and (max-width: 767.98px) {
    padding-left: 1px;
  }
}

.guarantee-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
  @media screen and (min-width: 1366px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.orange-text {
  color: var(--accennt-color);
}
