// .hero {

// }
.hero__front-name {
  font-weight: 800;
  font-size: 58px;
  line-height: 130%;
  /* or 75px */

  letter-spacing: 0.03em;

  color: #111518;
}
.hero__txt {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  display: flex;
  align-items: center;
  letter-spacing: 0.08em;

  color: #111518;
}
.hero__gray-txt {
  color: #b9b9b9;
}
.hero__orange {
  color: var(--accennt-color);
}
.hero__btn {
  width: 260px;
  height: 48px;
  background-color: var(--accennt-color);
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #ffffff;
}
@media (min-width: 280px) and (max-width: 767px) {
  .hero {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .hero__front-name {
    font-size: 20px;
    line-height: 130%;
    /* or 26px */

    letter-spacing: 0.03em;
    color: #111518;
  }
  .hero__front-name {
    max-width: 280px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__txt {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 280px;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    letter-spacing: 0.08em;

    color: #111518;
  }
  .hero__gray-txt {
    color: #b9b9b9;
    display: block;
  }
  .hero__orange {
    color: var(--accennt-color);
    display: block;
  }
  .hero__btn {
    margin-right: auto;
    margin-left: auto;
  }
}
