// main section
.how-we-do {
  width: 1314px;
}
// h3
.how-we-do-title {
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
}
// ul
.how-we-do-list {
  cursor: pointer;
}
// li
.how-do-card-item {
  width: 425px;
  background: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}
// item before
.how-do-card-item {
  display: block;
  flex-shrink: 0;
  content: '';
  width: 20px;
  height: 1px;
  background-color: #ff6b09;
}
// hover focus item
.how-do-card-item:hover,
.how-do-card-item:focus {
  color: #ffffff;
  background-color: #ff6b09;
}

// p - title
.how-do-card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
}
// p - descript
.how-do-card-description {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
// paragraph

// M E D I A  styles - mob - tab - desk
@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1366px) {
}
