.teacher-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.teacher-image-thumb {
  width: 243px;
  height: 306px;
  margin-bottom: 20px;
  // border: 2px solid blue;
  // border-right: 30px;
}

.teacher-img {
  width: 100%;
  height: 100%;
}

.teacher-imgtext {
  height: auto;
  display: flex;
  flex-direction: column;
  // margin-bottom: 130px;
}

// div of descript teacher
.teacher-description {
  min-width: 320px;
  height: auto;
}

// h3
.teacher-name {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.22;
  letter-spacing: 0.08em;
}

// a href teacher-link
.teacher-cert-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-decoration-line: underline;
  color: var(--accennt-color);
  cursor: pointer;
}

// ul .teacher-exp-list
.teacher-exp-list::before {
  display: block;
  flex-shrink: 0;
  content: '';
  height: 0px;
  border: 1px solid #b9b9b9;
}

// ul .teacher-edu-list
.teacher-edu-list::before {
  display: block;
  position: absolute;
  right: 50%;
  flex-shrink: 0;
  content: '';
  width: 20px;
  height: 2px;
  background-color: var(--accennt-color);
}

.teacher-exp-item {
  display: flex;
}

.teacher-exp-item__info {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
}

// // decor element
// .current::before {
//   display: block;
//   flex-shrink: 0;
//   content: '';
//   width: 20px;
//   height: 1px;
//   background-color: var(--accennt-color);
// }

.teacher-edu-p {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.17;
  color: var(--second-primary-text-color);
}

.teacher-icon {
  width: 17px;
  height: 14px;
  fill: var(--accennt-color);
}

// M E D I A  styles mob tab desk
@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
  .teacher-title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .teacher-imgtext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin-bottom: 130px;
  }

  .teacher-image-thumb {
    margin-bottom: 0;
  }

  .teacher-exp-item__info {
    font-size: 12px;
    line-height: 1.25;
  }

  .teacher-edu-p {
    font-size: 10px;
    line-height: 2.8;
  }
}

@media screen and (min-width: 1366px) {
  .teacher-title {
    font-size: 46px;
    margin-bottom: 50px;
  }

  .teacher-image-thumb {
    width: 579px;
    height: 667px;
    // border: 2px solid blue;
    // border-right: 30px;
  }

  .teacher-name {
    font-size: 30px;
  }

  .teacher-cert-link {
    font-size: 18px;
    line-height: 1.56;
  }

  .teacher-exp-item__info {
    font-size: 16px;
  }

  .teacher-edu-p {
    font-size: 18px;
    line-height: 1.56;
  }

  .teacher-icon {
    width: 27px;
    height: 20px;
    fill: var(--accennt-color);
  }
}

// // div of descript teacher
// .teacher-description {
//   width: 642px;
//   height: 660px;
// }

// // li
// .teacher-edu-item {
//   margin-bottom: 20px;
// }
